.mainscreen{

    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    // background-color: darkgreen;

    &__body{
        display: flex;        
        flex: 1;

        @include xsmall{
            justify-content: flex-end;
        }

        @include small{
            justify-content: space-between;
        }
    }

    &__left{
        z-index: 2;
        display: none;
        // background-color: blue;

       @include small{
           display: block;
           flex-basis: 30%;
       }

    }

    &__center{
        height: 93vh;
        // flex-basis: 39%;      
        overflow-y: auto; 
        padding: 0 2rem;
        width: 100vw;
        position: absolute;
        top: 5rem;
        left: 0;
        display: flex;

        // &::-webkit-scrollbar {
        //     display: none;
        // }

        @include xsmall{          
           
            // padding-left: 5rem;
            
            padding: 0;

            // &::-webkit-scrollbar {
            //     display: initial;
            // }
        }

        @include small{
            justify-content: center;
        }

        
        
        
        // direction: rtl;
        // overflow-x: hidden;

        // &::-webkit-scrollbar {
        //     display: none;
        // }

        // &::-webkit-scrollbar {
        //     direction: ltr;
        // }   
        
        
    }

    &__center-content{ 

        width: 100%;
        padding: 0 2rem;

        @include xsmall{
            width:50rem;
            margin-left: 3rem;
        }

        @include small{
            padding: 0;
            width: 50rem;
        }


        @include large{
            flex-basis: 40%;            
        }
    }

    &__right{
        flex-basis: 20%;
        align-self: flex-start;
        height: 100%;
        display: none;

        img{
            max-width: 100%;
        }

        @include xsmall{
            display: block;
        }
    }

    

}